<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
         <diagramType
            name="Arro Node Diagram Type"
            type="Arro"
            id="Arro.ArroNodeDiagramType">
         </diagramType>
         <diagramType
            name="Arro Node Diagram Type"
            type="ArroFunctionLeafDiagram"
            id="Arro.ArroFunctionLeafDiagram">
         </diagramType>
         <diagramType
            name="Arro State Diagram Type"
            type="ArroStateDiagram"
            id="Arro.StateDiagramType">
         </diagramType>
         <diagramType
            name="Arro State Diagram Type"
            type="ArroSfcLeafDiagram"
            id="Arro.ArroSfcLeafDiagramType">
         </diagramType>
    </extension>
    <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
       <diagramTypeProvider
            class="arro.diagram.types.SfcNodeTypeProvider"
            context="org.eclipse.graphiti.ui.diagramEditor"
            id="Arro.StateDiagramTypeProvider"
            name="Arro SFC Diagram Type Provider">
            <diagramType
               id="Arro.StateDiagramType">
            </diagramType>
       </diagramTypeProvider>
       <diagramTypeProvider
            class="arro.diagram.types.SfcLeafTypeProvider"
            context="org.eclipse.graphiti.ui.diagramEditor"
            id="Arro.SfcLeafTypeProvider"
            name="Arro State Diagram Type Provider">
            <diagramType
               id="Arro.ArroSfcLeafDiagramType">
            </diagramType>
       </diagramTypeProvider>
       <diagramTypeProvider
            name="Arro Node Diagram Type Provider"
            class="arro.diagram.types.FunctionNodeDiagramTypeProvider"
            id="Arro.FunctionNodeDiagramTypeProvider">
            <diagramType
               id="Arro.ArroNodeDiagramType">
            </diagramType>
            <imageProvider
               id="Arro.imageProvider">
            </imageProvider>           
       </diagramTypeProvider>
       <diagramTypeProvider
            name="Arro Node Diagram Type Provider"
            class="arro.diagram.types.FunctionLeafDiagramTypeProvider"
            id="Arro.FunctionLeafDiagramTypeProvider">
            <diagramType
               id="Arro.ArroFunctionLeafDiagram">
            </diagramType>
       </diagramTypeProvider>
    </extension>
   
   
   
   
    <extension
        point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
        <!-- The contributorId is calculated from the diagram-type-id by the formula:  Diagram.getDiagramTypeId() + ".PropertyContributor".-->
        <propertyContributor contributorId="Arro.PropertyContributor"> 
           <propertyCategory category="Graphiti"> 
           </propertyCategory> 
        </propertyContributor> 
        <propertyContributor contributorId="ArroFunctionLeafDiagram.PropertyContributor"> 
           <propertyCategory category="Graphiti"> 
           </propertyCategory> 
        </propertyContributor> 
    </extension>
       
    <extension
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
          contributorId="Arro.PropertyContributor">
          <propertyTab
             category="Graphiti"
             id="arro.main.tab"
             label="Main">
          </propertyTab>
          <propertyTab
             afterTab="arro.main.tab"
             category="Graphiti"
             id="arro.param.tab"
             label="Parameters">
          </propertyTab>
          <propertyTab
             afterTab="arro.param.tab"
             category="Graphiti"
             id="arro.modedef.tab"
             label="Transition">
          </propertyTab>
          <propertyTab
             afterTab="arro.param.tab"
             category="Graphiti"
             id="arro.published-actions.tab"
             label="Published Actions">
          </propertyTab>
          <propertyTab
             category="Graphiti"
             id="arro.step.tab"
             label="Step">
          </propertyTab>
          <propertyTab
             afterTab="arro.main.tab"
             category="Graphiti"
             id="arro.set-actions.tab"
             label="Set Actions">
          </propertyTab>
      </propertyTabs>
      <propertyTabs
          contributorId="ArroFunctionLeafDiagram.PropertyContributor">
          <propertyTab
             category="Graphiti"
             id="arro.main.tab"
             label="Main">
          </propertyTab>
          <propertyTab
             afterTab="arro.main.tab"
             category="Graphiti"
             id="arro.param.tab"
             label="Parameters">
          </propertyTab>
          <propertyTab
             afterTab="arro.param.tab"
             category="Graphiti"
             id="arro.modedef.tab"
             label="Transition">
          </propertyTab>
          <propertyTab
             afterTab="arro.param.tab"
             category="Graphiti"
             id="arro.published-actions.tab"
             label="Published Actions">
          </propertyTab>
          <propertyTab
             category="Graphiti"
             id="arro.step.tab"
             label="Step">
          </propertyTab>
          <propertyTab
             afterTab="arro.main.tab"
             category="Graphiti"
             id="arro.set-actions.tab"
             label="Set Actions">
          </propertyTab>
      </propertyTabs>
    </extension>
     
    <extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
          contributorId="Arro.PropertyContributor">
          <propertySection
              class="property.ArroNodeSectionStandard"
              filter="property.ArroNodeFilterStandard"
              id="arro.node.section"
              tab="arro.main.tab">
          </propertySection>
          <propertySection
              class="property.ArroNodeSectionDevice"
              filter="property.ArroNodeFilterDevice"
              id="arro.node.section"
              tab="arro.main.tab">
          </propertySection>
          <propertySection
              class="property.ArroParamSectionStandard"
              filter="property.ArroParamFilterStandard"
              id="arro.param.section.standard"
              tab="arro.param.tab">
          </propertySection>
          <propertySection
              class="property.ArroParamSectionDevice"
              filter="property.ArroParamFilterDevice"
              id="arro.param.section.device"
              tab="arro.param.tab">
          </propertySection>
          <propertySection
              class="property.ArroPadSection"
              filter="property.ArroPadFilter"
              id="arro.pad.section"
              tab="arro.main.tab">
          </propertySection>
          <propertySection
              class="property.ArroStepSection"
              filter="property.ArroStepFilter"
              id="arro.state.section"
              tab="arro.step.tab">
          </propertySection>
          <propertySection
              class="property.ArroSetActionsSection"
              filter="property.ArroSetActionsFilter"
              id="arro.set-actions.section"
              tab="arro.set-actions.tab">
          </propertySection>
          <propertySection
              class="property.ArroConditionSection"
              filter="property.ArroConditionFilter"
              id="arro.modedef.section"
              tab="arro.modedef.tab">
          </propertySection>
          <propertySection
              class="property.ArroPublishedActionsSection"
              filter="property.ArroPublishedActionsFilter"
              id="arro.published-actions.section"
              tab="arro.published-actions.tab">
          </propertySection>
      </propertySections>
      <propertySections
          contributorId="ArroFunctionLeafDiagram.PropertyContributor">
          <propertySection
              class="property.ArroNodeSectionStandard"
              filter="property.ArroNodeFilterStandard"
              id="arro.node.section"
              tab="arro.main.tab">
          </propertySection>
          <propertySection
              class="property.ArroNodeSectionDevice"
              filter="property.ArroNodeFilterDevice"
              id="arro.node.section"
              tab="arro.main.tab">
          </propertySection>
          <propertySection
              class="property.ArroParamSectionStandard"
              filter="property.ArroParamFilterStandard"
              id="arro.param.section.standard"
              tab="arro.param.tab">
          </propertySection>
          <propertySection
              class="property.ArroParamSectionDevice"
              filter="property.ArroParamFilterDevice"
              id="arro.param.section.device"
              tab="arro.param.tab">
          </propertySection>
          <propertySection
              class="property.ArroPadSection"
              filter="property.ArroPadFilter"
              id="arro.pad.section"
              tab="arro.main.tab">
          </propertySection>
          <propertySection
              class="property.ArroStepSection"
              filter="property.ArroStepFilter"
              id="arro.state.section"
              tab="arro.step.tab">
          </propertySection>
          <propertySection
              class="property.ArroSetActionsSection"
              filter="property.ArroSetActionsFilter"
              id="arro.set-actions.section"
              tab="arro.set-actions.tab">
          </propertySection>
          <propertySection
              class="property.ArroConditionSection"
              filter="property.ArroConditionFilter"
              id="arro.modedef.section"
              tab="arro.modedef.tab">
          </propertySection>
          <propertySection
              class="property.ArroPublishedActionsSection"
              filter="property.ArroPublishedActionsFilter"
              id="arro.published-actions.section"
              tab="arro.published-actions.tab">
          </propertySection>
      </propertySections>
    </extension>
   
    
    <extension
       point = "org.eclipse.ui.editors">
       <editor
             class="arro.messageeditor.MessageEditor"
             contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
             extensions="amsg"
             icon="icons/sample.gif"
             id="arro.editors.MessageEditor"
             name="Message Type Editor">
       </editor>
       <editor
             class="arro.editors.MultiPageEditor"
             contributorClass="arro.editors.MultiPageEditorContributor"
             extensions="anod"
             icon="icons/sample.gif"
             id="arro.editors.MultiPageEditor"
             name="Function Diagram Editor">
       </editor>
       
    </extension>
    
    
    <extension
      point="org.eclipse.core.expressions.definitions">
      <definition
        id="arro.editors.MessageEditor.inView">
         <with
           variable="activePartId">
           <equals
              value="arro.editors.MessageEditor">
           </equals>
         </with>
      </definition>
      <definition
        id="arro.editors.MultiPageEditor.inView">
         <with
           variable="activePartId">
           <equals
              value="arro.editors.MultiPageEditor">
           </equals>
         </with>
      </definition>
    </extension>
 
    
    <extension
        point="org.eclipse.ui.commands">
        <category
              id="Arro.sampleNature.category"
              name="Sample Project Nature commands">
        </category>
        <command
              categoryId="Arro.sampleNature.category"
              defaultHandler="arro.builder.AddRemoveSampleNatureHandler"
              id="Arro.addRemoveSampleNature"
              name="Add/RemoveSample Project Nature">
        </command>
        <command
              categoryId="Arro.sampleNature.category"
              id="arro.append"
              name="Add a row to the table.">
        </command>
        <command
              categoryId="Arro.sampleNature.category"
              id="org.eclipse.ui.edit.delete"
              name="Delete a row from the table.">
        </command>
    </extension>
    
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="arro.messageeditor.AddRowHandler"
            commandId="org.eclipse.ui.edit.delete">
            <activeWhen>
                <reference
                    definitionId="arro.editors.MessageEditor.inView">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="property.DelRowHandler"
            commandId="org.eclipse.ui.edit.delete">
            <activeWhen>
                <reference
                    definitionId="arro.editors.MultiPageEditor.inView">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="property.AddRowHandler"
            commandId="arro.append">
        </handler>
     </extension>
     
     <extension
       point="org.eclipse.ui.bindings">
       <key
          commandId="org.eclipse.ui.edit.delete"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+6">
      </key>
    </extension>
    
    <extension
       point="org.eclipse.ui.menus">
       <menuContribution
          locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
          <toolbar
             id="Arro.toolbars.sampleToolbar">
             <command
                commandId="org.eclipse.ui.edit.delete"
                icon="icons/sample.gif"
                id="Arro.toolbars.deleteItemCommand"
                tooltip="Remove selected item">
             </command>
             <command
                commandId="arro.append"
                icon="icons/sample.gif"
                id="Arro.toolbars.append"
                tooltip="Add new item">
             </command>
          </toolbar>
       </menuContribution>
       <menuContribution
          locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
          <command
             commandId="Arro.addRemoveSampleNature"
             label="Disable Sample builder"
             style="push">
             <visibleWhen
                checkEnabled="false">
                <with
                   variable="selection">
                   <count
                      value="1">
                   </count>
                   <iterate>
                      <adapt
                         type="org.eclipse.core.resources.IProject">
                         <test
                            property="org.eclipse.core.resources.projectNature"
                            value="Arro.sampleNature">
                         </test>
                      </adapt>
                   </iterate>
                </with>
             </visibleWhen>
          </command>
          <command
             commandId="Arro.addRemoveSampleNature"
             label="Enable Sample builder"
             style="push">
             <visibleWhen
                checkEnabled="false">
                <with
                   variable="selection">
                   <count
                      value="1">
                   </count>
                   <iterate>
                      <adapt
                         type="org.eclipse.core.resources.IProject">
                         <not>
                            <test
                               property="org.eclipse.core.resources.projectNature"
                               value="Arro.sampleNature">
                            </test>
                         </not>
                      </adapt>
                   </iterate>
                </with>
             </visibleWhen>
          </command>
       </menuContribution>
       </extension>
       <extension
          point="org.eclipse.help.contexts">
          <contexts
             file="contexts.xml">
          </contexts>
       </extension>
    
       <extension
         point="org.eclipse.ui.perspectives">
         <perspective
            class="arro.perspective.ArroPerspective"
            fixed="false"
            icon="icons/rialto16.gif"
            id="arro.perspective.ArroPerspective"
            name="Arro"/>
       </extension>
    
       <extension
        point = "org.eclipse.ui.newWizards">
        <category
            id="Arro"
            name="Arro">
        </category>
        
        <wizard
            category="Arro"
            class="arro.wizards.project.CreateProjectWizard"
            finalPerspective="arro.perspective.ArroPerspective"
            icon="icons/rialto16.gif"
            id="arro.projectexplorer.NewProjectWizard"
            name="Arro Project"
            project="true">
            <description>
                New Arro Project
            </description>
            <selection class="org.eclipse.core.resources.IResource"/>
        </wizard>
        <wizard
            category="Arro"
            class="arro.wizards.message.NewMessageWizard"
            icon="icons/sample.gif"
            id="arro.wizards.SampleNewWizard"
            name="Message Definition">
        </wizard>
        <wizard
              category="Arro"
              class="arro.wizards.functionblock.NewFunctionBlockWizard"
              icon="icons/sample.gif"
              id="arro.wizards.SampleNewWizard"
              name="Function Block">
        </wizard>
        <wizard
              category="Arro"
              class="arro.wizards.codeblock.NewCodeBlockWizard"
              icon="icons/sample.gif"
              id="arro.wizards.NewDeviceWizard"
              name="Code Block">
        </wizard>
    </extension>
    
    <extension
        point="org.eclipse.core.resources.natures"
        id="sampleNature"
        name="Sample Project Nature">
        <runtime>
            <run class="arro.builder.ProjectNature">
            </run>
        </runtime>
        <builder
              id="Arro.sampleBuilder">
        </builder>
    </extension>
    <extension
          point="org.eclipse.ui.dropActions">
    </extension>
    <extension
          id="sampleBuilder"
          name="Sample Project Builder"
          point="org.eclipse.core.resources.builders">
       <builder
             hasNature="true">
          <run
                class="arro.builder.ArroBuilder">
          </run>
       </builder>
    </extension>
    <extension
          id="xmlProblem"
          name="XML Problem"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.problemmarker">
       </super>
       <persistent
             value="true">
       </persistent>
    </extension>
    
    
    <extension
          point="org.eclipse.debug.core.launchConfigurationTypes">
       <launchConfigurationType
             delegate="arro.launcher.ArroLauncher"
             modes= "run"
             id="Arro.launchConfigurationType"
             name="Arro launcher">
       </launchConfigurationType>
    </extension>
    <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup
            type="Arro.launchConfigurationType"
            class="arro.launcher.ArroTabGroup"
            id="arro.tabgroup">
        </launchConfigurationTabGroup>
    </extension>
    <extension
          point="org.eclipse.debug.ui.launchShortcuts">
       <shortcut
             class="arro.launcher.LaunchShortcut1"
             id="Arro.shortcut1"
             label="label"
             modes="Arro.shortcut1">
       </shortcut>
    </extension>
    <extension
          point="org.eclipse.graphiti.ui.imageProviders">
       <imageProvider
             class="arro.ArroImageProvider"
             id="Arro.imageProvider">
       </imageProvider>
    </extension>
    
    

</plugin>
